
### Builder
target/
.gradle/
build/
out/
gen/
local.properties

### IntelliJ
.idea/
*.iml
*.ipr
*.iws

### Eclipse
.settings/
.project
.classpath
.mymetadata

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Other
.DS_Store
*.log
*.bak